*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}
/*
nav{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
  
}

nav h1{
    font-size: 40px;
    margin-top: 0;
}
nav ul,li{
    display: inline-block;

}

nav li{
    margin-left: 40px;
    font-size: 24px;
}
nav h1 span{
    color: #ff004f;
}

nav ul li{
    position: relative;
    
    cursor: pointer;
}
nav ul li::after{
    content: '';
    background: #ff004f;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    bottom: -6px;
    transition: 0.6s;
    

}

nav ul li:hover:after{
    width: 100%;

}


nav .fa-solid{
    display: none;
}

@media only screen and (max-width:600px){
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #ff004f;
        
        color: white;
        width: 200px;
        height: 100%;
        position: fixed;
        margin-right: 0;
        top:0;
        right:-200px;
        padding-top: 50px;
    

    }

    nav ul li{
        display: block;
        margin-bottom: 40px;
    }

    
        nav ul .fa-solid{
            position: absolute;
            top: 25px;
            left: 25px;
            cursor: pointer;
        }
}
*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

nav h1 {
    font-size: 40px;
}

nav h1 span {
    color: #ff004f;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

nav ul li a::after {
    content: '';
    background: #ff004f;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    bottom: -6px;
    transition: 0.6s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {
    nav .fa-solid {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul {
        background: #ff004f;
        color: white;
        width: 200px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -200px;
        padding-top: 50px;
        flex-direction: column;
        transition: transform 0.3s ease-in-out;
    }

    nav ul.active {
        transform: translateX(-200px);
    }

    nav ul li {
        margin: 0 0 40px 25px;
    }

    #close-menu {
        position: absolute;
        top: 25px;
        left: 25px;
    }
}